.buscador-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.search-input {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #ffcb05;
    outline: none;
}