.content {
  max-width: 800px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.pokemon-card {
  width: 650px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-name {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  color: #333;
}

.pokemon-image {
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.pokemon-type,
.pokemon-shiny,
.pokemon-weight,
.pokemon-height,
.pokemon-abilities,
.pokemon-moves,
.pokemon-stats {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
}


.pokemon-moves {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.star-fav {
  padding-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #facc15;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.star-fav:hover {
  transform: scale(1.2);
}


.star-empty {
  padding-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #9ca3af;
  transition: color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.star-empty:hover {
  color: #fde68a;
  transform: scale(1.2);
}