.sidebar-favs {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.nav-item-fav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.nav-item-fav span {
    flex: 1;
}

.nav-item-fav:hover {
    background-color: #444;
}

.nav-item-fav.selected {
    background-color: #919090;
}

.sidebar>nav>ul {
    list-style: none;
    background: #2c3e50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar>nav>ul>li:last-child {
    border-bottom: none;
}

.pokemon-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.btn-remove-fav {
    background: none;
    border: none;
    padding: 4px;
    font-size: 1rem;
    color: #f55;
    cursor: pointer;
}

.btn-clear-list {
    background-color: #e90101;
    color: #000000;
    border: 1px solid #000000;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    margin: 15px 0;
    transition: background-color 0.3s, border 0.3s;
}

.btn-clear-list:hover {
    background-color: #ff0000;
    border-color: #000000;
}

.p-message {
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}